DB_USER=
DB_PASSWORD=
DB_NAME=

SEQ_FIRSTRUN_ADMINPASSWORD=

REDIS_COMMANDER_USER=
REDIS_COMMANDER_PASSWORD=

KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=

RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

KEYCLOAK_API_CLIENT_ID=
KEYCLOAK_API_CLIENT_SECRET=
