# nginx/.htpasswd.example
# Создайте реальный .htpasswd из корня решения на сервере с помощью команды:
# docker run --rm httpd:alpine htpasswd -bnb your-login your-password > ./nginx/.htpasswd

# пример учётной записи
your-login:$apr1$A1i9AXwR$HdUl9vsiivTSkeax185Zy/

