window.DEV_CREDENTIALS = {
	seq: {
		user: "",
		password: ""
	},
	redis: {
		user: "",
		password: ""
	},
	postgres: {
		user: "",
		password: ""
	},
	keycloak: {
		user: "",
		password: ""
	},
	rabbitmq: {
		user: "",
		password: ""
	}
};
