# Create file named as credentials.js in same place as this with secrets
window.DEV_CREDENTIALS = {
	nginx: {
		user: "",
		password: ""
	},
	seq: {
		user: "",
		password: ""
	},
	redis: {
		user: "",
		password: ""
	},
	postgres: {
		user: "",
		password: ""
	},
	keycloak: {
		user: "",
		password: ""
	},
	rabbitmq: {
		user: "",
		password: ""
	}
};
